NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_CHEAP_MONTHLY=
STRIPE_PRICE_CHEAP_YEARLY=
STRIPE_PRICE_UNLIMITED_MONTHLY=
STRIPE_PRICE_UNLIMITED_YEARLY=
ZOHO_SUPPORT_EMAIL=hello@purrifymusic.com
EXTENSION_SHARED_SECRET=
